@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #ce0368;
  /* --primary-color: #ed3849; */
  /* --primary-color-dark: #d23141; */
  --primary-color-dark: #ce0368;
  --primary-color-light: #f4e5ec;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --extra-light: #f8fafc;
  --white: #ffffff;
  --max-width-1400: 1400px;
  --max-width-1200: 1200px;
  --max-width-900: 900px;
  --header-font: "Playfair Display", serif;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 1.4vw;
}
h1 span {
  color: #4f46e5;
  font-weight: 800;
}
